
### functions ######
cheat() { curl cheat.sh/"$1" ; }

## Workspace functions #####
function workspace-pull() {
    cd ~/.config/workspace
    git pull
    cd -
}

function workspace-push() {
    cd ~/.config/workspace
    git push
    cd -
}

function workspace-code()
{
    code ~/.config/workspace
}

function cdws()
{
    cd ~/.config/workspace
}

## system utilities #####
function sys-clean-tmp()
{
    sudo find /tmp -type f -atime +10 -delete
}

