## Install curl if not installed
source $HOME/.config/workspace/base/utils/env.sh

function _install_curl()
{
    if ! [ "$(command -v curl)" ]; then
        if  [[ "$_os" = "Linux" ]] ; then
            sudo apt-get install curl
        elif  [[ "$_os" = "Darwin" ]]; then
            brew install curl
        fi
    fi
}

## Install wget if not installed
function _install_wget()
{
    if ! [ "$(command -v wget)" ]; then
        if  [[ "$_os" = "Linux" ]] ; then
            sudo apt-get install wget
        elif  [[ "$_os" = "Darwin" ]]; then
            brew install wget
        fi
    fi
}

function _install_snap()
{
    if ! [ "$(command -v snap)" ]; then
        if  [[ "$_os" = "Linux" ]] ; then
            sudo apt-get install snapd
        fi
    fi
}

function _install_vscode()
{
    if ! [ "$(command -v code)" ]; then
        if  [[ "$_os" = "Linux" ]] ; then
            sudo snap install --classic code
        elif  [[ "$_os" = "Darwin" ]]; then
            brew install --cask visual-studio-code
        fi
    fi
}

function ws-install-utils()
{
    _install_curl
    _install_wget
    _install_snap
    _install_vscode
}

### Utils ####

cheat() { curl cheat.sh/"$1" ; }

function osinfo(){
    if [[ "$_os" = "Darwin" ]]; then
        echo "OS: Mac OS"
        echo "Version: $(sw_vers -productVersion)"
        echo "Build: $(sw_vers -buildVersion)"
    elif [[ "$_os" = "Linux" ]]; then
        echo "OS: Linux"
        echo "Version: $(lsb_release -a)"
    fi
}

## system utilities #####
function ws-cleantmp()
{
    _daystoleave=10
    [[ ! -z "$1" ]] && _daystoleave=$1
    sudo find /tmp -type f -atime +$_daystoleave -delete
}

function ws-tmpbackup()
{
    mkdir -p $HOME/backups 
    cp $1 $HOME/backups/$1 
    local __size=$(wc -c $HOME/backups/$1 | awk '{print $1}')

    echo "Backup of $1 created. Size: $__size"
}

## Workspace functions #####
function ws-update() {
    cd $HOME/.config/workspace
    git pull
    cd -
}

function ws-code()
{
    code $HOME/.config/workspace
}

function wscd()
{
    cd $HOME/.config/workspace
}


