
source $HOME/.config/workspace/base/utils/env.sh

function _install_ncdu()
{
    if [[ "$_os" = "Linux" ]]; then
        sudo apt install ncdu
    elif [[ "$_os" = "Darwin" ]]; then
        brew install ncdu
    else
        echo "[install_ncdu] Unsupported OS"
    fi
}

function _install_bpytop()
{
    if [[ "$_os" = "Linux" ]]; then
        sudo snap install bpytop
    elif [[ "$_os" = "Darwin" ]]; then
        brew install bpytop
    else
        echo "[install_bpytop] Unsupported OS"
    fi
}

function _install_htop()
{
    if [[ "$_os" = "Linux" ]]; then
        sudo apt install htop
    elif [[ "$_os" = "Darwin" ]]; then
        brew install htop
    fi
}

function ws-install-tools()
{
    _install_ncdu
    _install_bpytop
    _install_htop
}
