source $HOME/.config/workspace/base/utils/env.sh

function _install_meslo_font()
{
    if [[ ! -f "/usr/share/fonts/PowerlineSymbols.otf" ]] 
    then  
        wget https://github.com/powerline/powerline/raw/develop/font/PowerlineSymbols.otf -O /tmp/PowerlineSymbols.otf
        wget https://github.com/powerline/powerline/raw/develop/font/10-powerline-symbols.conf -O /tmp/10-powerline-symbols.conf

        sudo mv /tmp/10-powerline-symbols.conf /etc/fonts/conf.d/
        sudo mv /tmp/PowerlineSymbols.otf /usr/share/fonts/
    fi
}

function _install_nerd_font()
{
    if [[ ! -d "$HOME/.local/share/fonts/NerdFonts" ]] 
    then  
        wget https://github.com/ryanoasis/nerd-fonts/releases/download/v2.2.2/3270.zip -O /tmp/nerd-fonts.zip
        mkdir /tmp/nerd-fonts
        mkdir -p $HOME/.local/share/fonts/NerdFonts
        unzip /tmp/nerd-fonts.zip -d /tmp/nerd-fonts
        sudo mv /tmp/nerd-fonts/* $HOME/.local/share/fonts/NerdFonts
        rm -rf /tmp/nerd-fonts.zip
        rm -rf /tmp/nerd-fonts
        cd $HOME/.local/share/fonts/NerdFonts
        fc-cache -fv
        cd -
    fi
}

function _install_oh_my_posh()
{
    if [ ! -d "/usr/local/bin/oh-my-posh" ] 
    then
        sudo wget https://github.com/JanDeDobbeleer/oh-my-posh/releases/latest/download/posh-linux-amd64 -O /usr/local/bin/oh-my-posh
        sudo chmod +x /usr/local/bin/oh-my-posh
    fi

    if [ ! -d "$HOME/.poshthemes" ] 
    then
        mkdir $HOME/.poshthemes
        wget https://github.com/JanDeDobbeleer/oh-my-posh/releases/latest/download/themes.zip -O $HOME/.poshthemes/themes.zip
        unzip $HOME/.poshthemes/themes.zip -d $HOME/.poshthemes
        chmod u+rw $HOME/.poshthemes/*.json
        rm $HOME/.poshthemes/themes.zip
    fi
}

function ws-install-oh_my_posh()
{
    _install_meslo_font
    _install_nerd_font
    _install_oh_my_posh
}