
# activate the base environment
function activate-base-bash() {
    . $HOME/.config/workspace/envs/base/.aliases
    . $HOME/.config/workspace/envs/base/.profile.bash
}

function activate-base-zsh() {
    . $HOME/.config/workspace/envs/base/.aliases
    . $HOME/.config/workspace/envs/base/.profile.zsh
}

function activate-docker-ubuntu18()
{
    docker build --tag linda18 - < $HOME/.config/workspace/envs/DockerFileU18 && \
    docker run -it --rm -v $HOME/.config/workspace:/root/.config/workspace linda18
}

function activate-docker-ubuntu20()
{
    docker build --tag chiara20 - < $HOME/.config/workspace/envs/DockerFileU20 && \
    docker run -it --rm -v $HOME/.config/workspace:/root/.config/workspace chiara20
}

alias runlinda='activate-docker-ubuntu18'
alias runchiara='activate-docker-ubuntu20'


function mongo()
{
    if [ ! -d "$HOME/.config/workspace-mongo" ]; then
        git clone https://github.com/enricogolfieri/workspace-mongo.git $HOME/.config/workspace-mongo --branch v1.0-devel
    fi
    if [ ! -d "$HOME/.config/workspace/envs/mongo" ]; then
        ln -s $HOME/.config/workspace-mongo $HOME/.config/workspace/envs/mongo
    fi

    . $HOME/.config/workspace/envs/mongo/.aliases
    mongo-activate
}

# activate the imaginary environment docker
function imgx() {
    . $HOME/.config/workspace/envs/imaginary/.aliases

    imgx run
}

function imgxd() {
    . $HOME/.config/workspace/envs/imaginary/.aliases

    imgx rund
}

function ws-update()
{
    _cd=$(pwd)
    cd $HOME/.config/workspace
    git pull
    cd $HOME/.config/workspace-mongo
    git pull
    cd $_cd
}



