
# activate the base environment
function activate-base-bash() {
    . $HOME/.config/workspace/envs/base/.aliases
    . $HOME/.config/workspace/envs/base/.profile.bash
}

function activate-base-zsh() {
    . $HOME/.config/workspace/envs/base/.aliases
    . $HOME/.config/workspace/envs/base/.profile.zsh
}

function activate-docker-ubuntu18()
{
    docker build --tag linda18 - < $HOME/.config/workspace/envs/DockerFileU18 && \
    docker run -it --rm -v $HOME/.config/workspace:/root/.config/workspace linda18
}

function activate-docker-ubuntu20()
{
    docker build --tag chiara20 - < $HOME/.config/workspace/envs/DockerFileU20 && \
    docker run -it --rm -v $HOME/.config/workspace:/root/.config/workspace chiara20
}

alias runlinda='activate-docker-ubuntu18'
alias runchiara='activate-docker-ubuntu20'

function _load_mongo_repo()
{
    if [ ! -d "$HOME/.config/workspace-mongo" ]; then
        git clone https://github.com/enricogolfieri/workspace-mongo.git $HOME/.config/workspace-mongo --branch v1.0-devel
    fi
    if [ ! -d "$HOME/.config/workspace/envs/mongo" ]; then
        ln -s $HOME/.config/workspace-mongo $HOME/.config/workspace/envs/mongo
    fi
}
function activate-mongo()
{
    _load_mongo_repo
    . $HOME/.config/workspace/envs/mongo/.aliases
    mongo-activate
}

function rungiulietta()
{
    _load_mongo_repo
    . $HOME/.config/workspace/envs/mongo/.aliases
    rungiulietta
}


# activate the imaginary environment 
function activate-imaginary() {
    . $HOME/.config/workspace/envs/imaginary/.aliases
    . $HOME/.config/workspace/envs/imaginary/.profile
}

# activate the imaginary environment docker
function activate-imaginary-docker() {
    . $HOME/.config/workspace/envs/imaginary/.aliases

    docker build -t imaginary - < $HOME/.config/workspace/envs/imaginary/Dockerfile && \
    docker run -it --gpus all --rm -v $_img_workdir:/root/imaginary/local \
                                   -v $HOME/.config/workspace:/root/.config/workspace \
                                   -v $HOME/.ssh:/root/.ssh -v $HOME/.gitconfig:/root/.gitconfig \
                                   -v $HOME/.cache/huggingface:/root/.cache/huggingface \
                                   -v $HOME/.cache/torch:/root/.cache/torch \
                                   imaginary /bin/bash
}
alias runimaginary='activate-imaginary-docker'




