function _install_oh_my_posh()
{

    brew install jandedobbeleer/oh-my-posh/oh-my-posh

    if [ ! -d "$HOME/.poshthemes" ] 
    then
        mkdir $HOME/.poshthemes
        wget https://github.com/JanDeDobbeleer/oh-my-posh/releases/latest/download/themes.zip -O $HOME/.poshthemes/themes.zip
        unzip $HOME/.poshthemes/themes.zip -d $HOME/.poshthemes
        chmod u+rw $HOME/.poshthemes/*.json
        rm $HOME/.poshthemes/themes.zip
    fi
}

function ws-install-oh_my_posh()
{
    _install_oh_my_posh
    oh-my-posh font install Meslo
}