. ~/.config/workspace/envs/.aliases

function ws-install-toolchain()
{
    curl -o toolchain_installer.sh http://mongodbtoolchain.build.10gen.cc/installer.sh
    bash toolchain_installer.sh
    rm -rf ./toolchain_installer.sh
}

function ws-setup-mongovm()
{
    ws-install-toolchain
    ws-setup
    mongo-setup
}