#!/bin/bash

#extending base/.aliases
. $HOME/.config/workspace/base/.aliases

#install snap 
_install-snap()
{
    sudo apt-get install snapd
}

#install vscode
_install-vscode()
{
    sudo snap install --classic code
}

#install ffmpeg
_install-ffmpeg()
{
    sudo apt-get install ffmpeg
}

#install chrome 
_install-chrome()
{
    wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb -O /tmp/chrome.deb
    sudo dpkg -i /tmp/chrome.deb
    rm -rf /tmp/chrome.deb
}

ws-setup-linux-home()
{
    sudo apt-get update
    sudo apt-get upgrade 
    
    ws-setup
    _install-snap
    _install-vscode
    _install-chrome
    _install-ffmpeg
}
