
source $HOME/.config/workspace/envs/.aliases

#install ffmpeg
_install-ffmpeg()
{
    sudo apt-get install ffmpeg
}

#install chrome 
_install-chrome()
{
    wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb -O /tmp/chrome.deb
    sudo dpkg -i /tmp/chrome.deb
    rm -rf /tmp/chrome.deb
}

#install ssh-server
_install-ssh-server()
{
    sudo apt-get install openssh-server
    sudo systemctl enable ssh
    sudo systemctl start ssh
}

ws-setup-linux-home()
{
    sudo apt-get update
    sudo apt-get upgrade 
    
    ws-setup
    _install-ssh-server
    _install-chrome
    _install-ffmpeg
}
